* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gallery {
  width: 618px;
  border: solid 4px #555;
}

.gallery header {
  cursor: pointer;
  padding: 6px;
  background-color: #555;;
  color: #fff;
}

.gallery .content {
  padding: 5px;
  height: 340px;
  overflow: auto;
}

.gallery .content-hidden {
  display: none;
}
